$background-color: $orange;
$background-color-on-hover: $orange-dark;
$font-color: $white;

.button {
    border: none;
    color: $font-color;
    border-radius: 10px;
    cursor: pointer;
    background-color: $background-color;
    transition: 0.3;
    outline: none;
    user-select: none;

    &:hover {
        background-color: $background-color-on-hover;
    }
}
