$base-background-color: $white;
$title-font-color: $blue-dark;
$input-border-color: $gray-dark;
$input-font-color: $black;
$base-font-family: $base-font;

.form {
    background-color: $base-background-color;
    font-family: $base-font-family;
    border-radius: 10px;

    &__title {
        margin: 0.5em 0;
        font-size: 1em;
        color: $title-font-color;
    }

    &__input {
        width: 100%;
        padding: 0.4em;
        margin: 0.6em 0 0;
        border: 1px solid $input-border-color;
        font-size: 0.8em;
        color: rgba($input-font-color, 0.7);
        outline: none;

        &--city {
            float: left;
            width: 60%;
            margin-right: 5%;
        }
        &--postal-code {
            width: 35%;
        }
    }
    &__checkbox-container {
        display: flex;
        justify-content: space-between;
        margin: 0.3em 0 0;
    }

    &__checkbox {
        border: 1px solid $input-border-color;
        color: rgba($input-font-color, 0.7);
        outline: none;
        margin-right: 5px;
    }

    &__agreement {
        font-size: 0.65em;
        line-height: 1.3em;
        color: rgba($input-font-color, 0.5);
    }

    &__button {
        display: block;
        padding: 0.7em 3em;
        margin: 1.5em auto 0.5em;
        font-size: 0.8em;
    }
}
